[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=1.0.3"
pdfplumber = "==0.5.23"
pillow = ">=7.0.0"
seaborn = "*"
requests = "*"
urllib3 = ">=1.24.2"

[dev-packages]
