certifi==2022.6.15
chardet==5.0.0
cycler==0.11.0
idna==3.3
kiwisolver==1.4.3
matplotlib==3.5.2
numpy==1.23.0
pandas==1.4.3
pdfplumber==0.7.1
pycryptodome==3.15.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.1
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
sortedcontainers==2.4.0
urllib3==1.26.9
