certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
idna==2.9
kiwisolver==1.1.0
matplotlib==3.2.1
numpy==1.18.2
pandas==1.0.3
pdfminer.six==20200402
pdfplumber==0.5.20
Pillow==7.1.2
pycryptodome==3.9.7
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
scipy==1.4.1
seaborn==0.10.0
six==1.14.0
sortedcontainers==2.1.0
unicodecsv==0.14.1
urllib3==1.25.8
Wand==0.5.9
